@page
@model Shop_Online.Pages.Product.IndexModel
@{
    Layout = "_LayoutDashboard";
    var products = Model.products;
    var filter = Model.filter;
    var total_page = Model.total_page;
}
<link rel="stylesheet" href="~/css/product.css">

<div class="product">
    <div class="product-heading">
        <h3>PRODUCT MANAGEMENT</h3>
    </div>
    <div class="product-create">
        <span class="create">Add new product</span>
    </div>
    <div class="product-filter">
     <form action="/Product/Index" method="get">
        <div class="product-search">
            <input type="text" name="search_name" value="@filter.search_name">
            <i class="fas fa-search"></i>
        </div>
     </form>
    </div>
    <div class="product-table">
        <table>
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Image</th>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in products)
                {
                <tr>
                    <td>@item.Id</td>
                    <td>
                        <img src="@item.Image"
                             alt="" class="product-image">
                    </td>
                    <td>@item.Name</td>
                    <td>
                        @item.Price $
                    </td>
                    <td>@item.CidNavigation.Name</td>
                    <td class="product-action">
                        <span class="update" data-value-id="@item.Id"><i class="fas fa-edit"></i></span>
                        <span class="delete" data-value-id="@item.Id"><i class="fas fa-trash-alt"></i></span>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@if(total_page != 1)
{
<div class="pagination" id="pagger">

    <div class="pagination-item">
           <a class="pagination-link"
           asp-page="/Product/Index"
           asp-route-pageIndex="@(filter.pageIndex - 1)"
           asp-route-search_name="@filter.search_name">
              <i class="far fa-angle-left"></i>
            </a>
    </div>
    @for (int i = 1; i < total_page; i++)
        {
    <div class="pagination-item">
          <a class="pagination-link @(filter.pageIndex == i ? "isActive" : "")"
           asp-page="/Product/Index"
           asp-route-pageIndex="@i"
           asp-route-search_name="@filter.search_name">
           @i
        </a>
    </div>
        }
    <div class="pagination-item">
            <a class="pagination-link"
           asp-page="/Product/Index"
           asp-route-pageIndex="@(filter.pageIndex + 1)"
           asp-route-search_name="@filter.search_name">
                <i class="far fa-angle-right"></i>
            </a>
        </div>
</div>
}
<script src="~/js/product_list.js"></script>

