@page
@model Shop_Online.Pages.Product.UpdateModel
@{
    Layout = null;
    var p = Model._product;
}
<div class="modal">
    <div class="modal-overlay"></div>
    <div class="modal-content">
        <span class="modal-close">
            X
        </span>
        <div class="modal-main">
            <h1 class="form-heading">Update Product</h1>
            <form method="Post" asp-page="Update" class="form-submit">
                <disv class="form-group">
                    <label>Name</label>
                    <input type="text" name="Product.Name" value="@p.Name">
                    <input type="text" hidden name="Product.Id" value="@p.Id">
                </disv>
                <div class="form-group">
                    <label>Image</label>
                    <input type="text" name="Product.Image" value="@p.Image">
                </div>
                <div class="form-group">
                    <label>Desciption</label>
                    <input type="text" name="Product.Desc" value="@p.Desc">
                </div>
                <div class="form-group">
                    <label>Price</label>
                    <input type="number" min="0" name="Product.Price" value="@p.Price">
                </div>
                <div class="form-group">
                    <label>Category</label>
                    <select name="Product.Cid">
                        @foreach (var item in Model.categories)
                        {
                            @if(p.Cid == item.Id)
                            {
                                
                                <option value="@item.Id" selected >@item.Name</option>
                                
                            }else{
                                <option value="@item.Id">@item.Name</option>

                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <Button>Save</Button>
                </div>
            </form>
        </div>
    </div>
</div>
