@page
@model Shop_Online.Pages.Home.IndexModel
@{
    var clothes = Model.productService.getProductsWithHome(1);
    var pants = Model.productService.getProductsWithHome(2);
    var bags = Model.productService.getProductsWithHome(3);
    var sneakers = Model.productService.getProductsWithHome(4);
}

<link rel="stylesheet" href="~/css/home.css">


<div class="home">
    <div class="grid-container wide">
        <div class="banner-img">
            <img src="~/assets/banner.png" alt="banner">
        </div>
    </div>
</div>

<div class="home">
    <div class="grid-container wide">
        <div class="feature">
            <div class="home-heading">
                <h1>MONOPOLY</h1>
            </div>
            <div class="feature-list">
                <div class="row">
                    <div class="col pc-3">
                        <div class="feature-item">
                            <div class="feature-heading">
                                <h2>LOREM</h2>
                            </div>
                            <div class="feature-desc">
                                <p>
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla nostrum at sint
                                    alias
                                    perferendis. Deleniti, repudiandae recusandae nobis hic ad a facilis sed
                                    necessitatibus saepe in quae ipsum. Ducimus, odio.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col pc-3">
                        <div class="feature-item">
                            <div class="feature-heading">
                                <h2>LOREM</h2>
                            </div>
                            <div class="feature-desc">
                                <p>
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla nostrum at sint
                                    alias
                                    perferendis. Deleniti, repudiandae recusandae nobis hic ad a facilis sed
                                    necessitatibus saepe in quae ipsum. Ducimus, odio.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col pc-3">
                        <div class="feature-item">
                            <div class="feature-heading">
                                <h2>LOREM</h2>
                            </div>
                            <div class="feature-desc">
                                <p>
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla nostrum at sint
                                    alias
                                    perferendis. Deleniti, repudiandae recusandae nobis hic ad a facilis sed
                                    necessitatibus saepe in quae ipsum. Ducimus, odio.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col pc-3">
                        <div class="feature-item">
                            <div class="feature-heading">
                                <h2>LOREM</h2>
                            </div>
                            <div class="feature-desc">
                                <p>
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla nostrum at sint
                                    alias
                                    perferendis. Deleniti, repudiandae recusandae nobis hic ad a facilis sed
                                    necessitatibus saepe in quae ipsum. Ducimus, odio.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="home">
    <div class="grid-container wide">
        <div class="product">
            <div class="home-heading">
                <h1>CLOTHES</h1>
            </div>
            <div class="product-list">
                <div class="row">
                    @foreach (var item in clothes)
                    {
                        
                    <div class="col pc-3">
                        <div class="product-item">
                            <a href="#detailProduct">
                                <div class="product-img">
                                    <img src="@item.Image"
                                         alt="">
                                </div>
                                <div class="product-name">
                                    <p>@item.Name</p>
                                </div>
                                <div class="product-info">
                                    <div class="product-price">
                                        <span>@item.Price $</span>
                                    </div>
                                    <div class="product-add">
                                            <a onclick="AddToCartAsync(@item.Id)">Add to cart</a>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    }
                </div>
            </div>
            <div class="product-more">
                <a href="#more">See more...</a>
            </div>
        </div>
        <div class="product">
            <div class="home-heading">
                <h1>PANT</h1>
            </div>
            <div class="product-list">
                <div class="row">
                    @foreach (var item in pants)
                    {

                        <div class="col pc-3">
                            <div class="product-item">
                                <a href="#detailProduct">
                                    <div class="product-img">
                                        <img src="@item.Image"
                                         alt="">
                                    </div>
                                    <div class="product-name">
                                        <p>@item.Name</p>
                                    </div>
                                    <div class="product-info">
                                        <div class="product-price">
                                            <span>@item.Price $</span>
                                        </div>
                                        <div class="product-add">
                                            <a onclick="AddToCartAsync(@item.Id)">Add to cart</a>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="product-more">
                <a href="#more">See more...</a>
            </div>
        </div>
        <div class="product">
            <div class="home-heading">
                <h1>BAG</h1>
            </div>
            <div class="product-list">
                <div class="row">
                    @foreach (var item in bags)
                    {

                        <div class="col pc-3">
                            <div class="product-item">
                                <a href="#detailProduct">
                                    <div class="product-img">
                                        <img src="@item.Image"
                                         alt="">
                                    </div>
                                    <div class="product-name">
                                        <p>@item.Name</p>
                                    </div>
                                    <div class="product-info">
                                        <div class="product-price">
                                            <span>@item.Price $</span>
                                        </div>
                                        <div class="product-add">
                                            <a onclick="AddToCartAsync(@item.Id)">Add to cart</a>

                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="product-more">
                <a href="#more">See more...</a>
            </div>
        </div>
        <div class="product">
            <div class="home-heading">
                <h1>SNEAKER</h1>
            </div>
            <div class="product-list">
                <div class="row">
                    @foreach (var item in sneakers)
                    {

                        <div class="col pc-3">
                            <div class="product-item">
                                <a href="#detailProduct">
                                    <div class="product-img">
                                        <img src="@item.Image"
                                         alt="">
                                    </div>
                                    <div class="product-name">
                                        <p>@item.Name</p>
                                    </div>
                                    <div class="product-info">
                                        <div class="product-price">
                                            <span>@item.Price $</span>
                                        </div>
                                        <div class="product-add">
                                            <a onclick="AddToCartAsync(@item.Id)">Add to cart</a>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="product-more">
                <a href="#more">See more...</a>
            </div>
        </div>
    </div>

</div>

<div class="home home-set">
    <div class="grid-container wide">
        <div class="home-heading">
            <h1>SET RECOMMEND</h1>
        </div>
        <div class="row">
            <div class="col pc-4">
                <div class="set-item">
                    <img src="~/assets/set1.png" alt="">
                </div>
            </div>
            <div class="col pc-4">
                <div class="set-item">
                    <img src="~/assets/set2.png" alt="">
                </div>
            </div>
            <div class="col pc-4">
                <div class="set-item">
                    <img src="~/assets/set3.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var cart_quantity = document.querySelector(".header-cart__quantity");
    
    function AddToCartAsync(id){
        $.ajax({
            url: `/Cart/AddToCartAsync?id=${id}`,
            type: "get",
            success: function (response) {
                console.log(response);
            },
            error: function (xhr) { 
            },
        }).then(res => {
            cart_quantity.innerHTML = res;
        });
    }
    

</script>